# Ignore everything by default
*

# But allow these folders
!Beginner/
!Intermediate/

# Allow files inside them
!Beginner/**
!Intermediate/**

# Allow git files
!.gitignore


# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/

